/*
Color Pallete: Dark
#071C21 - Background Dark Teal
#153B44 - Dark Teal
#2D6E7E - Teal
#C6DE41 - Yellow
*/

/*
Color Pallete: Sunset
#511845 - Background Dark Purple
#900C3F - Sweet Dark Purple
#C70039 - Pink Red
#FF5733 - Orange
*/
/*
$background-color: #511845;
$secondary-color: #900C3F;
$tertiary-color: #C70039;
$accent-color: #FF5733;
*/

body {
    margin: auto;
    background-color: #511845;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a:link {
background-color: transparent;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
    color: #FF5733;
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}