/*
Color Pallete: Dark
#071C21 - Background Dark Teal
#153B44 - Dark Teal
#2D6E7E - Teal
#C6DE41 - Yellow
*/

/*
Color Pallete: Sunset
#511845 - Background Dark Purple
#900C3F - Sweet Dark Purple
#C70039 - Pink Red
#FF5733 - Orange
*/
/*
$background-color: #511845;
$secondary-color: #900C3F;
$tertiary-color: #C70039;
$accent-color: #FF5733;
*/


html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    text-shadow: 3px 3px 3px #808;
}

h1 {
    color: #FF5733;
    font-size: 35px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 3px 3px 3px #808;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

div.links div {
	border-radius: 30px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 80px 80px;
	background-position-x: 4px;
	background-color: #511845;
	transition: border-color 0.35s;
	min-height: 170px;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	background-position-x: 10px;
	box-shadow: 0 0 10px 5px #00ff94;
}
.links {
    display: inline-flex;
    flex-direction: row;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

div.links a:link {
	border-radius: 0;
	padding: 0;
    width: 400px;
    margin:16px 20px;
}

div.links a:link:hover {
	background-color: transparent;
}

div.links div:hover {
	border-color: #2c3e50;
	background-color: #81296f;
}

div.links p {
	padding-left: 100px;
	font-size: 36px;
	margin-top: 21px;
	margin-bottom: 10px;
}

div.links p.hasdescription {
    color : #FF5733;
	font-size: 28px;
	margin-top: 10px;
}

div.links p.description {
	color: magenta;
	font-size: 20px;
	margin-top: 5px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #511845;
    color: white;
    text-align: center;
    padding: 0px 0;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.0;
}

a:link {
  color: #FF5733;
}

a:visited {
  color: #FF5733;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
